.dashboard-summary-card {
  padding: 20px !important;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;

  .title-count {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 16px;
    }

    .count {
      font-weight: bold;
      font-size: 25px;
      color: rgb(9, 36, 119);
    }
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &.today {
      background-color: var(--todayBgColor);
    }

    &.due {
      background-color: var(--dueBgColor);
    }

    &.upcoming {
      background-color: var(--upcomingBgColor);
    }

    &.open {
      background-color: var(--openBgColor);
    }

    &.progress {
      background-color: var(--inProgressBgColor);
    }

    &.complete {
      background-color: var(--completeBgColor);
    }
  }
}

@include media-sm {
  .dashboard-summary-card {
    width: 200px;
  }
}

@include media-lg {
  .dashboard-summary-card {
    width: 220px;
  }
}
