.sidebar-add-new {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  color: var(--sidebar-add-new-color);
  @include transition-ease;

  &:hover {
    opacity: 0.8;
  }

  .icon {
    margin-right: 15px;
  }
}
