.single-task-main-group {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  @include transition-ease;

  &:visited {
    color: inherit;
  }

  &.active,
  &:hover {
    border-right: 3px solid var(--group-active-border-color);
    background-color: var(--group-active-bg-color);
  }

  &__content {
    height: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 5px;
      width: 30px;
      height: 30px;
      background-image: var(--main-group-icon-bg-color);
      border-radius: 5px;
      @include flex-center-center;

      i {
        font-size: 16px;
        color: var(--main-group-icon-color);
      }

      &.hide-bg {
        background: none;

        i {
          color: var(--primary-color);
        }
      }
    }

    .title {
      span {
        font-size: 12px;
      }
    }
  }
}

@include media-md {
  .single-task-main-group {
    padding-left: 20px;
    padding-right: 20px;
    &__content {
      .icon {
        margin-right: 10px;
      }
    }
  }
}
