.task-date {
  color: var(--task-date-color);
  border: 1px solid var(--task-date-border-color);
  background-color: var(--task-date-bg-color);
  padding: 1px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15px;

  span {
    font-size: 9px;
    margin-left: 2px;
  }
}

@include media-md {
  .task-date {
    span {
      font-size: 10px;
    }
  }
}
