.task-content {
  margin-left: 6px;
  width: 100%;

  &__text {
    margin-right: 40px;
    h4 {
      font-weight: 600;
    }
    p {
      font-size: 13px;
    }
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    .task-groups {
      &-one {
        display: flex;
      }
      &-two {
        display: flex;
        margin-top: 5px;
      }
    }
  }
}
