.task-label {
  padding: 0 3px;
  margin-right: 5px;
  min-height: 15px;
  color: var(--task-label-color);
  border: 1px solid var(--task-label-border-color);
  background-color: var(--task-label-bg-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--task-label-color);
    opacity: 0.9;
  }

  span {
    font-size: 9px;
    margin-left: 3px;
  }
}
