@import '../../scss/variable';

.sidebar-title {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include border(var(--sidebar-title-border-color), bottom);

  p.open-icon {
    font-size: 20px;
  }
}
