@import '../../scss/variable';

.task-project {
  padding: 0 3px;
  margin-left: 5px;
  height: 20px;
  color: var(--task-project-color);
  border: 1px solid var(--task-project-border-color);
  background-color: var(--task-project-bg-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--task-project-color);
    opacity: 0.9;
  }

  span {
    font-size: 10px;
    margin-left: 3px;
  }
}
