@import '../../scss/variable';

.tasks-filters {
  form {
    .inputs-group {
      display: flex;
      flex-direction: row-reverse;
      .input-container {
        position: relative;
        input {
          width: 300px;
          height: 40px;
          padding-right: 70px;
          @include transition-ease;

          &:focus {
            width: 350px;
          }
        }
        button {
          position: absolute;
          width: 70px;
          right: 0;
          height: 40px;
          font-size: 12px;
        }
      }
    }
  }
}
