@import '../../scss/variable';

.single-task-main-group {
  height: 50px;

  a {
    display: flex;
    align-items: center;
    padding: 20px 0;
    padding-left: 20px;
    height: 100%;

    &.active {
      border-right: 3px solid $group-active-border-color;
      background-color: $group-active-bg-color;
    }

    .icon {
      margin-right: 10px;
      font-size: 30px;
    }

    .title {
      p {
        font-size: 20px;
      }
    }
  }
}
