//  LIGHT THEME
html {
  --black: #000000;
  --black-2: #19191d;
  --black-2: #0f1a4f;
  --green: green;
  --orange: orange;
  --primary-color: #006fd6;
  --secondary-color: red;
  --tertiary-color: #191970;
  --light-blue: #dadaff;
  --very-light-blue: rgb(248, 248, 255);
  --focus-color: #40a9ff;
  // --very-light-: rgb(221, 221, 230);

  --success-bg-color: #c9f7f5;
  --success-color: #1bc5bd;
  --in-progress-bg-color: #fff4de;
  --in-progress-color: #ffa800;
  --open-bg-color: #e4e4e4;
  --open-color: #353535;
  --fail-bg-color: #ffe2e5;
  --fail-color: #f64e60;

  --gray: #b4b4b4;
  --gray-2: #ebeaea;
  --light-gray: #f6f6f6;
  --light-gray-2: #f3f3f3;
  --dark-gray: #6c6c6c;
  --white: #ffffff;

  --header-text-color: #2e2e2e;
  --paragraph-text-color: var(--dark-gray);

  // GENERAL
  --body-bg-color: var(--light-gray);
  --gradient: linear-gradient(to bottom right, #191970, #006fd6);
  --text-shadow-color: var(--black);

  // ICONS
  --icon-bg-color: var(--primary-color);
  --icon-color: var(--white);

  // PAGE HEADER
  --page-header-bg-color: var(--primary-color);
  --page-header-text-color: var(--white);

  // PAGE CONTENT
  --page-content-bg-color: var(--light-gray-2);

  // PAGE CONTENT TITLE
  --page-content-title-color: var(--primary-color);
  --page-content-title-border-color: var(--primary-color);
  --page-content-title-bg-color: var(--white);

  // TASK
  --task-border-color: var(--gray);
  --task-bg-color: var(--white);

  // TASK DATE
  --task-date-color: var(--secondary-color);
  --task-date-bg-color: var(--white);
  --task-date-border-color: var(--gray);

  // TASK PROJECT
  --task-project-color: var(--white);
  --task-project-bg-color: var(--green);
  --task-project-border-color: var(--green);

  // TASK LABEL
  --task-label-color: var(--orange);
  --task-label-bg-color: var(--white);
  --task-label-border-color: var(--orange);

  // TASK TOGGLER
  --task-options-toggler-bg-color: var(--light-gray-2);
  --task-options-toggler-icon-color: var(--gray);

  // TASK STATUS
  --task-status-text-color: var(--white);
  --task-status-open-color: var(--open-color);
  --task-status-open-bg-color: var(--open-bg-color);
  --task-status-in-progress-color: var(--in-progress-color);
  --task-status-in-progress-bg-color: var(--in-progress-bg-color);
  --task-status-completed-color: var(--success-color);
  --task-status-completed-bg-color: var(--success-bg-color);

  // LEFT SIDEBAR
  --group-active-bg-color: var(--light-blue);
  --group-active-border-color: var(--secondary-color);
  --sidebar-title-border-color: var(--secondary-color);

  // SIDEBAR ADD NEW
  --sidebar-add-new-color: var(--green);

  // SIDEBAR ADD TASK
  --add-task-section-border-color: var(--gray);
  --add-task-section-bg-color: var(--very-light-blue);

  // MAIN GROUP
  --task-main-group-border-color: var(--secondary-color);
  --task-main-group-bg-color: var(--white);
  --main-group-icon-bg-color: var(--icon-bg-color);
  --main-group-icon-color: var(--icon-color);

  // INPUT
  --input-border-color-focus: var(--focus-color);
  --input-bg-color: var(--very-light-blue);
  --input-select-bg-color: var(--gray-2);
  --input-disabled-bg-color: var(--gray-2);
  --select-input-placeholder-color: var(--dark-gray);

  // BUTTON
  --button-bg: var(--primary-color);
  --button-border-color: var(--primary-color);

  // SCROLLBAR
  --scrollBarColor: var(--primaryColor);
  --scrollBaHroverColor: #ffac1d;
}

//  DARK THEME
html[data-theme='dark'] {
}

$border: 2px solid;

$text-shadow: 2px 2px 4px var(--text-shadow-color);

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border($color, $position) {
  @if $position == top {
    border-top: 2px solid $color;
  } @else if $position == bottom {
    border-bottom: 2px solid $color;
  } @else if $position == left {
    border-left: 2px solid $color;
  } @else if $position == right {
    border-right: 2px solid $color;
  } @else {
    border: 2px solid $color;
  }
}

@mixin media-sm {
  @media screen and (min-width: 500px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1000px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin transition-ease-out {
  transition: all 0.5s ease-out;
}

// GENERAL STYLES
.devugo-card {
  background-color: var(--white);
  padding: 40px 20px 40px 20px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10;
}

@include media-md {
  .devugo-card {
    padding: 40px;
  }
}

.devugo-input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--input-bg-color);
  padding: 0 10px;
  // @include transition-ease;

  &:focus {
    box-shadow: 0 0 0 0.5px rgba(24, 144, 255, 0.2);
    outline: 0;
    border: 1px solid var(--input-border-color-focus);
  }
  &:disabled {
    background-color: var(--input-disabled-bg-color);
  }
}

.center {
  text-align: center;
}

.danger {
  color: #ff4444;
}

.warning {
  color: #ffbb33;
}

.success {
  color: #00c851;
}

.input-container {
  margin-bottom: 20px;
}

.devugo-form {
  button {
    width: 100%;
    height: 50px;
  }
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

//  START ANT DESIGN

// SELECT INPUT
.ant-select {
  width: 100% !important;

  &-selector {
    height: 50px !important;
    background-color: var(--input-bg-color) !important;
    border: none !important;
    // border-color: var(--input-se);

    span.ant-select-selection-placeholder {
      color: var(--select-input-placeholder-color) !important;
    }
  }
}
// CHECKBOX
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: green !important;
  border-color: green !important;
  width: 30px;
  height: 30px;
}

.ant-checkbox-inner::after {
  width: 8.71px;
  height: 15px;
}

// SCROlLBAR CUSTOM STYLES

/* width */
::-webkit-scrollbar {
  display: none;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
  background: var(--scrollBarColor);
  border-radius: 10px;
  @include transition-ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
  background: var(--scrollBaHroverColor);
}

// SCROlLBAR CUSTOM STYLES

// END ANT DESIGN
